/* preloader start */

/* keyframes */
@keyframes img2 {
    0% {
        transform: translate(-800px, 0px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes img3 {
    0% {
        transform: translate(0, 300px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes img4 {
    0% {
        transform: translate(-200px, -500px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes img5 {
    0% {
        transform: translate(-600px, 100px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes img6 {
    0% {
        transform: translate(600px, -300px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes img7 {
    0% {
        transform: translate(500px, 200px);
    }
    100% {
        transform: translate(0);
    }
}

#preloader {
    z-index: 1000;
    overflow: hidden;
}
#preloader .imgs {
    position: absolute;
    transition: 1s;
}
#preloader .img-1 {
    max-width: 420px;
}
#preloader .img-2 {
    top: 123px;
    left: 6px;
    animation: img2 3s;
    max-width: 137px;
}
#preloader .img-3 {
    bottom: 28px;
    right: 2px;
    animation: img3 3s;
    max-width: 74px;
}
#preloader .img-4 {
    top: 62px;
    left: 83px;
    animation: img4 3s;
    max-width: 82px;
}
#preloader .img-5 {
    bottom: 44px;
    left: -5px;
    animation: img5 3s;
    max-width: 68px;
}
#preloader .img-6 {
    bottom: 157px;
    right: -45px;
    animation: img6 3s;
    max-width: 71px;
}
#preloader .img-7 {
    bottom: 95px;
    right: -38px;
    animation: img7 3s;
    max-width: 34px;
}

/* progressbar */
.progress.css-0 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.css-r40f8v-MuiTypography-root {
    font-family: "GAdzen" !important;
    color: rgb(0, 0, 0) !important;
    font-size: 35px !important;
}
.css-eglki6-MuiLinearProgress-root {
    background-color: rgba(0, 0, 0, 0.1) !important;
    height: 2px !important;
    margin: 20px auto;
}
.css-1bhivts {
    margin-right: 0px !important;
}
.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: rgb(0, 0, 0) !important;
    transition: linear 0.1;
}

/* preloader end */

@media screen and (max-width: 800px) {
    #preloader .container {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }
    #preloader .container .img-1 {
        width: auto;
        max-width: 274px;
        margin: auto;
    }
    #preloader .img-2 {
        width: 91px;
        top: 79px;
        left: 32px;
    }
    #preloader .img-3 {
        width: 49px;
        bottom: 16px;
        right: 36px;
    }
    #preloader .img-4 {
        width: 44px;
        top: 41px;
        left: 105px;
    }
    #preloader .img-5 {
        width: 35px;
        bottom: 32px;
        left: 48px;
    }
    #preloader .img-6 {
        width: 37px;
        bottom: 116px;
        right: 9px;
    }
    #preloader .img-7 {
        width: 20px;
        bottom: 83px;
        right: 2px;
    }
    .css-r40f8v-MuiTypography-root {
        font-size: 24px !important;
    }
}
